*{
  align: center;
}

h1 {
  color: #FFD870;
  font-style: script;
  text-align: center;
  font-family: 'Bad Script', cursive;
}

body {
  align: center;
  background-color: #85B8FF;
}

li a {
  text-decoration: none;
}

body {
  align: center;
}

div.loginn {
  align: center;
}
